body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.box:nth-child(1) {
  background-color: #FFC0CB; /* Custom color for box 1 */
}

.box:nth-child(2) {
  background-color: #FFA07A; /* Custom color for box 2 */
}

.box:nth-child(3) {
  background-color: #FFD700; /* Custom color for box 3 */
}

.box:nth-child(4) {
  background-color: #00FA9A; /* Custom color for box 4 */
}

.box:nth-child(5) {
  background-color: #87CEFA; /* Custom color for box 5 */
}

.box:nth-child(6) {
  background-color: #9370DB; /* Custom color for box 6 */
}

.box:nth-child(7) {
  background-color: #FF69B4; /* Custom color for box 7 */
}

.box:nth-child(8) {
  background-color: #20B2AA; /* Custom color for box 8 */
}

.box:nth-child(9) {
  background-color: #FF6347; /* Custom color for box 9 */
}
