/* Assign: Text color #3D3D3D to elements inside body tag. Text color #FF0000 to any element of class .red that are the first children of the body */

$grey-dark: #3D3D3D;
$red: #FF0000;

body {
	color: $grey-dark;
	& > .red {
		color: $red;
	}
}
